body.light {
    font-family: Arial, sans-serif;
    color: whitesmoke;
}

body.dark {
    font-family: Arial, sans-serif;
    color: black;
}

.header {
    text-align: center;
    font-family: "Arial Black", sans-serif;
}

.center {
    text-align: center;
}
form {
    text-align: center;
}

.language-logo {
    text-align: center;
    margin: 20px 0;
}

.language-logo img {
    width: 150px;
    height: 150px;
}

.language-logo-java {
    text-align: center;
    margin: 20px 0;
}

.language-logo-java img {
    width: 75px;
    height: 150px;
}

.content {
    text-align: center;
    margin-top: 30px;
}

.button {
    width: 300px;
    height: 30px;
}

.button.active {
    background-color: black;
    color: yellow;
}

.button.hover {
    background-color: whitesmoke;
    color: azure;
}